@import "tailwindcss";
:root {
  padding: 2rem;
  margin: 2rem;

  font-family: Helvetica;
  line-height: 1.5;
  font-weight: 400;
}

/* change to tailwind if you can get it working */
.leaflet-container {
  margin-top: 2vh;
  height: 25vh;
  width: 25vw;
  z-index: 0; /* https://gis.stackexchange.com/questions/246689/leaflet-layer-control-and-legend */
}
